<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create new budget</title>

</head>
<body>
<form action="#" th:action="@{/saveBudget}" th:object="${budget}" method="post">
    <div class="row">
            <div class="col">
                
                
                <div id="expenseList">
                
                    <!--  header row -->
                	<div class="row">
                        <div class="col form-group d-none">Name</div>
                        <div class="col form-group">Amount</div>
                    </div>
                	<!--  ROWS -->
	                <div class="row item" th:each="expense, status : ${expenses}">
	                        <div class="col form-group d-none">
	                            <input th:field="*{expenses[__${status.index}__].name}" type="text" class="form-control">
	                        </div>
	                        <div class="col form-group">
	                            <input th:field="*{expenses[__${status.index}__].amount}" type="text" class="form-control">
	                        </div>
	                </div>
	                
                </div>
          </div>
       </div>
    
    <!--ADD NEW ROW BUTTON-->
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-success" onclick="addRow()">Add row</button>
            </div>
        </div>
        
        <!--SUBMIT FORM BUTTON-->
        <div class="row text-right">
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
</form>
</body>
<script>
let addRow = function () {
    let listName = 'expenses'; //list name in Catalog.class
    let fieldsNames = ['name', 'amount', 'date']; //field names from Movie.class
    let rowIndex = document.querySelectorAll('.item').length; //we can add mock class to each movie-row

    let row = document.createElement('div');
    row.classList.add('row', 'item');

    fieldsNames.forEach((fieldName) => {
        let col = document.createElement('div');
        col.classList.add('col', 'form-group');
        if (fieldName === 'id') {
            col.classList.add('d-none'); //field with id - hidden
        }

        let input = document.createElement('input');
        input.type = 'text';
        input.classList.add('form-control');
        input.id = listName + rowIndex + '.' + fieldName;
        input.setAttribute('name', listName + '[' + rowIndex + '].' + fieldName);

        col.appendChild(input);
        row.appendChild(col);
    });

    document.getElementById('expenseList').appendChild(row);
};
</script>
</html>
