<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Budget</title>
</head>
<body>
<form action="#" th:action="@{/saveExpense}" th:object="${user}" method="post">
	<!-- FOR THE USER -->
	<div>
		<th:block th:each="expense : ${user.expenses}">
		<input type="hidden" name="expense_id" th:field="*{expense_id}" />
		Name:<input type="text" name="name" th:field="*{name}"/> <br />
	   	Amount:<input type="text" name="amount" th:field="*{amount}" /> <br />
	   	Category:<input type="text" name="category" th:field="*{category}" /> <br />
	  	Date:<input type="date" name="date_time" th:field="*{date_time}" /> <br />
		</th:block>
	</div>
	<!--SUBMIT FORM BUTTON-->
	<div class="row text-right">
	    <div class="col">
	        <button name="submit" type="submit" class="btn btn-primary">Save Expense</button>
	        <input type = "button" value="Abandon Edit" onclick='window.location.assign("../../");'>
	    </div>
	</div>
</form>

</body>
</html>