<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Budget</title>
</head>
<body>
<h2>Edit Expense</h2>
<form action="#" method="post" th:action="@{/editExpense/{id}(id=${user_id})}" th:object="${user}">
    <h1 th:text="${user_id}">Expense</h1>
	<!-- FOR THE USER -->

<table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Amount</th>
        </tr>
        <tr th:each="expenseItem: ${user.expenses}">
            <td th:text="${expenseItem.name}">Name</td>
            <td>
                <input th:field="*{expenses[__${status.index}__].amount}" />
            </td>
            <td th:text="${expenseItem.category}"> </td>
        </tr>
    </table>

	<!--SUBMIT FORM BUTTON-->
	<div class="row text-right">
	    <div class="col">
	        <button name="submit" type="submit" class="btn btn-primary">Save Expense</button>
	        <input type = "button" value="Abandon Edit" onclick='window.location.assign("../../");'>
	    </div>
	</div>
</form>

</body>
</html>