<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/bootstrap.min.css">   
<script src="../js/bootstrap.min.js"></script> 
<title>Edit budget</title>
</head>
<body>
<div class="col">
	<h2>Budget</h2>
</div>
<hr />
<form name="updateBudget" th:action="@{/updatebudget/{id}(id=${user.user_id})}" th:object="${user}" method="post">
	<div class="col">
		<div class="form-group">
			<div>
				<div class="row">
		        	<div class="col form-group">
					   <h3>User</h3>
						<input type="hidden" name="user_id" th:value="${user.user_id}" />
						<label for="first_name">First Name:</label>
						<input type="text" name="first_name" th:value="${user.first_name}"/> 
						<label for="last_name">Last Name:</label>
					   	<input type="text" name="last_name" th:value="${user.last_name}" /> 
					   	<label for="email">Email:</label>
					   	<input type="text" name="email" th:value="${user.email}" /> 
					   	<label for="date">Birth Date:</label>
					   	<input type="date" name="date" th:value="${user.date}" /> 
					   	<label for="budget_amount">Your Budget $:</label>
					   	<input type="text" name="budget_amount" th:value="${user.budget_amount}" /> 
				   	</div>
			   </div>	
			</div>
			<hr />
			
			<div id="expenseList">
				<h3>Expenses</h3>
			    <div class="row">
			    	<div class="col form-group d-none">Id</div>
			        <div class="col form-group">Name</div>
			        <div class="col form-group">Amount</div>
			        <div class="col form-group">Category</div>
			        <div class="col form-group">Date</div>
			    </div>
			    <div class="row item" th:each="expense, status : ${user.expenses}">
			    	<div class="col form-group d-none" >
			    		<input th:field="*{expenses[__${status.index}__].expense_id}" type="hidden" class="form-control">
			        </div>
			    	<div class="col form-group" >
			            <input th:field="*{expenses[__${status.index}__].name}" type="text" class="form-control">
			        </div>
			        <div class="col form-group">
			            <input th:field="*{expenses[__${status.index}__].amount}" type="number" class="form-control">
			        </div>
			        <div class="col form-group d-none">
			        	<input th:field="*{expenses[__${status.index}__].category.category_id}" type="hidden" class="form-control">
			        </div>
			        <div class="col form-group">
			        	<input th:field="*{expenses[__${status.index}__].category.name}" type="text" class="form-control">
			        </div>
			        <div class="col form-group">
			            <input th:field="*{expenses[__${status.index}__].date_time}" type="date" class="form-control">
			        </div>
			        <hr />
			    </div>
			</div>
			<hr />
		</div>
	</div>
	
	<div class="col"> 
		<h3>Balance $: <!-- <span th:value="${user.getBalance()}"></span> -->
		<input type="text" name="getBalance()" th:value="${user.getBalance()}"/> </h3><br />
		<div class="progress">
			<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:aria-valuenow="${user.getPercent()}" aria-valuemin="0" aria-valuemax="100" th:style="'width: '+${user.getPercent()}+'%'"></div>
		</div>
		<h1 th:text="${user.getPercent()}+'%'"></h1>
	</div>
	<br />
	<div class="col">
		<!--add new row button-->
		<button type="button" class="btn btn-success" onclick="addRow()">Add row</button>
		<button name="submit" type="submit" class="btn btn-primary">Submit</button>
	</div> 
</form>
<div class="col">
	<a href="/viewAll">View all budget</a>
</div>

</body>
<script type="text/javascript">
	let addRow = function () {
	    let listName = 'expenses'; 
	    let fieldsNames = ['id','name', 'amount', 'category.name', 'date_time']; //field names from Expense
	    let rowIndex = document.querySelectorAll('.item').length; //we can add mock class to each recipe-row
	
	    let row = document.createElement('div');
	    row.classList.add('row', 'item');
	
	    fieldsNames.forEach((fieldName) => {
	        let col = document.createElement('div');
	        col.classList.add('col', 'form-group');
	
	        let input = document.createElement('input');
	        
	        if(fieldName == "date_time") input.type = 'date';
	        else if(fieldName == 'amount') input.type = 'number';
	        else if (fieldName === 'id') col.classList.add('d-none'); //field with id - hidden
	        //else if (fieldName === 'category.category_id') col.classList.add('d-none'); 
	        else input.type = 'text';
	        input.classList.add('form-control');
	        input.id = listName + rowIndex + '.' + fieldName;
	        input.setAttribute('name', listName + '[' + rowIndex + '].' + fieldName);
	
	        col.appendChild(input);
	        row.appendChild(col);
	    });
	
	    document.getElementById('expenseList').appendChild(row);
	};
</script>
</html>

