<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" href="../css/bootstrap.min.css">   
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<script src="../js/bootstrap.min.js"></script> 
<title>Edit budget</title>
</head>
<body>
<div class="col">
	<h2>Budget</h2>
</div>
<hr />
<form name="updateBudget" th:action="@{/updateBudget/{id}(id=${user.user_id})}" th:object="${user}" method="post">
	<div class="col">
		<div class="form-group">
			<div>
				<div class="row">
		        	<div class="col form-group">
				   		<h4 th:text="'Creation Date: ' + ${user.creation_date}"></h4>
					   <h3>User</h3>
						<input type="hidden" name="user_id" th:value="${user.user_id}" class="form-group" />
						<label for="first_name">First Name:</label>
						<input type="text" name="first_name" th:value="${user.first_name}" class="form-group" /> 
						<label for="last_name">Last Name:</label>
					   	<input type="text" name="last_name" th:value="${user.last_name}" class="form-group" /> 
					   	<label for="email">Email:</label>
					   	<input type="text" name="email" th:value="${user.email}" class="form-group" /> 
					   	<label for="date">Birth Date:</label>
					   	<input type="date" name="birth_date" th:value="${user.birth_date}" class="form-group" /> 
					   	<input type="hidden" name="creation_date" th:value="${user.creation_date}" /> 
					   	<label for="budget_amount">Your Budget $:</label>
					   	<input type="text" name="budget_amount" th:value="${user.budget_amount}" /> 
				   	</div>
			   </div>	
			</div>
			<hr />
			<table id="ExpenseTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
			  <thead>
			    <tr >
			      <th class="th-sm">Name</th>
			      <th class="th-sm">Amount</th>
			      <th class="th-sm">Category</th>
			      <th class="th-sm">Date</th>
			      <th class=th-sm>Remove</th>
			    </tr>
			  </thead>
			  <h3>Expenses</h3>
			  <tbody>
			    <tr class="r item" th:each="expense, status : ${user.expenses}">
			      <td>
			      	<input th:field="*{expenses[__${status.index}__].name}" type="text" class="form-control">
			      </td>
			      <td>
			      	<input th:field="*{expenses[__${status.index}__].amount}" type="number" class="form-control">
			      	<input th:field="*{expenses[__${status.index}__].category.category_id}" type="hidden" class="form-control">
			      </td>
			      <td>
			      	<input th:field="*{expenses[__${status.index}__].category.name}" type="text" class="form-control">
			      </td>
			      <td>
			      	<input th:field="*{expenses[__${status.index}__].date_time}" type="date" class="form-control">
			      </td>
			      <td>
			      	<a href="#" th:class="remove">Remove</a>
			      	<input th:field="*{expenses[__${status.index}__].expense_id}" type="hidden" class="form-control">
			      </td>
			    </tr>
			  </tbody>
			</table>
			<hr />
		</div>
	</div>
	
	<div class="col"> 
		<h3>Balance $: <!-- <span th:value="${user.getBalance()}"></span> -->
		<input type="text" name="getBalance()" th:value="${user.getBalance()}"/> </h3><br />
		<div class="progress">
			<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:aria-valuenow="${user.getPercent()}" aria-valuemin="0" aria-valuemax="100" th:style="'width: '+${user.getPercent()}+'%'"></div>
		</div>
		<h1 th:text="${user.getPercent()}+'%'"></h1>
	</div>
	<br />
	<div class="col">
		<!--add new row button-->
		<button type="button" class="btn btn-success" name="addExpense" id="addExpense">Add row</button>
		<button name="submit" type="submit" class="btn btn-primary">Submit</button>
	</div> 
</form>
<div class="col">
	<a href="/viewAll">View all budget</a>
</div>

</body>
<script type="text/javascript">
function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');
}

$(document).ready(function () {

    $.fn.dataTable.ext.order['dom-input'] = function (settings, col) {
        return this.api().column(col, { order: 'index' }).nodes().map(function (td, i) {
            return $('input', td).val();
        });
    }
    $('#ExpenseTable').DataTable({
        'lengthChange': false,
        'paging': false,
        'searching': false,
        "columnDefs": [
            { "orderDataType": "dom-input", "type":"text", "targets": [0,2,4] },
            { "orderDataType": "dom-input", "type":"numeric", "targets": [1] },
            { "orderDataType": "dom-input", "type":"date", "targets": [3] }
        ]
    });

    var expenses = $('#ExpenseTable tbody');
    expenses.on('click', '.remove', function (e) {
        var dtRow = $(this).closest('tr');  // get tr
        $('#ExpenseTable').DataTable().row(dtRow).remove().draw(false);
        //$(this).closest('tr').remove();
    });

    $("#addExpense").click(function () {
        table = $('#ExpenseTable').DataTable();
        let rowIndex = table.rows().count();
        let dt = new Date();
        table.row.add([
            '<td><input name="expenses[' + rowIndex + '].name" id=expenses' + rowIndex + '.name  type="text" class="form-control"></input></td>',
            '<td><input name="expenses[' + rowIndex + '].amount" id=expenses' + rowIndex + '.amount  type="number" class="form-control"></input></td>',
            '<td><input name="expenses[' + rowIndex + '].category.name" id=expenses' + rowIndex + '.category.name  type="text" class="form-control"></input></td>',
            '<td><input name="expenses[' + rowIndex + '].date_time" id=expenses' + rowIndex + '.date_time  type="date" value="' + formatDate(dt) + '" class="form-control"></input></td>',
            '<td><a href="#" class="remove">Remove</a><input name="expenses[' + rowIndex + '].expense_id" id="expenses' + rowIndex + '.expense_id"  type="hidden" value="0"></input></td>'
        ]).draw();
    });

});


</script>
</html>

